<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.scrm.sys.dictionary.dao.DictionaryDao">
	<sql id="dictionary_base_column">
		PARENT_KEY,DIC_KEY,DIC_CODE,DIC_VALUE,HAS_CHILD,DIC_ORDER,ACTIVE_FLAG,CREATE_BY,CREATE_DATE
	</sql>
	<sql id="dictionary_base_select">
		SELECT ROW_ID,
		<include refid="dictionary_base_column" />
		, UPDATE_BY,UPDATE_DATE FROM TB_SYS_DICTIONARY WHERE ACTIVE_FLAG = 1
	</sql>
	<insert id="save" useGeneratedKeys="true" keyProperty="rowId" keyColumn="ROW_ID">
		INSERT INTO TB_SYS_DICTIONARY (
		<include refid="dictionary_base_column" />
		)
		VALUES (#{parentKey},#{dicKey},#{dicCode},#{dicValue},#{hasChild},#{dicOrder},#{activeFlag},#{createBy},#{createDate})
	</insert>
	<select id="getMaxOrder" resultType="java.lang.Integer">
		SELECT MAX(DIC_ORDER) FROM TB_SYS_DICTIONARY WHERE ACTIVE_FLAG = 1 AND PARENT_KEY = #{parentKey}
	</select>
	<update id="updateHasChild">
		UPDATE TB_SYS_DICTIONARY SET HAS_CHILD = #{hasChild} WHERE DIC_KEY = #{dicKey}
	</update>
	<select id="find" resultType="Dictionary">
		<include refid="dictionary_base_select" /> 
		ORDER BY DIC_ORDER
	</select>
	<select id="get" resultType="Dictionary">
		<include refid="dictionary_base_select" />
		AND ROW_ID = #{rowId}
	</select>
	<select id="findByParent" resultType="Dictionary">
		<include refid="dictionary_base_select" />
		AND PARENT_KEY = #{parentKey}
	</select>
	<delete id="delete">
		DELETE FROM TB_SYS_DICTIONARY WHERE ROW_ID = #{rowId}
	</delete>
	<select id="getByCode" resultType="Dictionary">
		<include refid="dictionary_base_select" />
		AND DIC_KEY = #{dicKey}
	</select>
	<update id="update">
		UPDATE TB_SYS_DICTIONARY
		<set>
			<if test="parentKey != null">
				PARENT_KEY = #{parentKey},
			</if>
			<if test="dicKey != null">
				DIC_KEY = #{dicKey},
			</if>
			<if test="dicCode != null">
				DIC_CODE = #{dicCode},
			</if>
			<if test="dicValue != null">
				DIC_VALUE = #{dicValue},
			</if>
			<if test="hasChild != null">
				HAS_CHILD = #{hasChild},
			</if>
			<if test="dicOrder != null">
				DIC_ORDER = #{dicOrder},
			</if>
			<if test="activeFlag != null">
				ACTIVE_FLAG = #{activeFlag},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
	<select id="getByNameAndParent" resultType="Dictionary">
		<include refid="dictionary_base_select" />
		AND DIC_CODE = #{dicCode} AND PARENT_KEY = #{parentKey}
	</select>
</mapper>