<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.scrm.sys.dictionaries.dao.DictionariesDao">
<sql id="dictionarie_base_column">
		PARENT_KEY,DIC_KEY,DIC_CODE,DIC_VALUE,ORDER_INDEX,HAS_CHILD,ACTIVE_FLAG,CREATE_BY,CREATE_DATE
	</sql>
<sql id="dictionarie_base_select">
		SELECT ROW_ID,
		<include refid="dictionarie_base_column" />
		, UPDATE_BY,UPDATE_DATE FROM TB_DICTIONARY WHERE ACTIVE_FLAG = 1
	</sql>


<select id="getByName" resultType="Dictionaries">
		<include refid="dictionarie_base_select" />
		AND DIC_VALUE = #{dicValue}
	</select>
	
  <insert id="save" parameterType="Dictionaries" useGeneratedKeys="true" keyProperty="rowId" keyColumn="ROW_ID">
		INSERT INTO TB_DICTIONARY (PARENT_KEY,DIC_KEY,DIC_CODE,DIC_VALUE,ORDER_INDEX,HAS_CHILD,ACTIVE_FLAG,CREATE_BY,CREATE_DATE)
		VALUES(#{parentKey},#{dicKey},#{dicCode},#{dicValue},#{orderIndex},#{hasChild},#{activeFlag},#{createBy},#{createDate})
		
	</insert>
   <update id="updateHasChild">
		UPDATE TB_DICTIONARY SET HAS_CHILD = #{hasChild} WHERE DIC_KEY = #{dicKay}
	</update>
<select id="getMaxOrder" resultType="java.lang.Integer" parameterType="Dictionaries">
		SELECT MAX(ORDER_INDEX) FROM TB_DICTIONARY WHERE ACTIVE_FLAG = 1 AND PARENT_KEY = #{parentKey}
	</select>
	<select id="find" resultType="Dictionaries">
		<include refid="dictionarie_base_select" />
		
	</select>
	<select id="get" resultType="Dictionaries">
		<include refid="dictionarie_base_select" />
		AND ROW_ID = #{rowId}
	</select>
	<select id="getByKey" resultType="Dictionaries">
		<include refid="dictionarie_base_select" />
		AND DIC_KEY = #{dicKey}
	</select>

</mapper>